{% extends "base.html" %}
{% set active_page = "trends" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head style = "background-color: #EDF2F7">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Type', 'number'],
          ['Fake',  {{num_fake}}],
          ['Real',  {{num_real}}]
          
        ]);

        var options = {
          title: 'Fake or Real'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Type', 'number'],
          ['Clickbait',  {{num_clickbait}}],
          ['Not Clickbait',  {{num_notclickbait}}]
          
        ]);

        var options = {
          title: 'Clickbait or Not Clickbait'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id="piechart2" style="width: 900px; height: 500px;"></div>
  </body>
</html>

{% endblock content %}
